@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.btn-custom {
    padding: 10px;
    font-size: 20px;
  }
  .img1{

    width:100%;

  }
.my-container{
    margin: auto;
    overflow-x: scroll;
    width: 85%;

}
.my-list{
    white-space: nowrap;    
}
::-webkit-scrollbar{
    display: none;
}
.my-list img{
    padding-inline:10px;
}

.custom-sec2{
   width: 85%;


}
.custom-sec2>img{
    width:128px;
    height:188.23529411764704px;
    border-radius: 0px; 
    object-fit: fill; 
    cursor: default;
}

.my-card{
    width: 179px;
    margin-inline:10px ;
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease transform;
    cursor: pointer;
}

.my-card-time{
    width: fit-content;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    padding: 0px 4px;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
}
.my-card-title{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
}

.card-price{
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
    line-height: 11px;
}

.mrp{
    color: #666666;
    font-size: 12px;
}
.category-section{
    width: 85%;
    margin: auto;
}
.category-section-row{
    width: 100%;
    overflow-x: scroll;
}

.my-card-weight{
    color: #666666;
    font-size: 13px;
    top: 3px;
}

.my-footer{
    width: 85%;
    margin: auto;
}
.row-3{
    text-align: justify;
    color: #666666;
    font-size: 15px;
    padding:10px;
}

.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.row-2>p{
    text-align: justify;
    color: #666666;
    font-size: 12px;
    width: 35%;
}

.download-section>p{
    color: #666666;
    font-weight: 600;
    font-size: 14px;
    margin: 16px;
}
.download-btns{
    background-color: #213b50;
    color: white;
    border-radius: 10px;
    margin: 10px;
    border: none;
    padding: 10px;
}
.social-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-inline: 10px;
}

.social{
    display: flex;
}

.row-1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.useful-links{
    flex: 2;
}

.categories-links{
    flex: 3;
}
table{
    width: 100%;
}
td{
    padding: 3px 10px;
    color: #666666;
    font-size: 14px;
}


@media screen and (max-width: 768px) {
    nav,.row-2,.row-1{
        flex-direction: column !important;
    }
    .img1{
        display: none !important;
    }
   
  .customm-sec1m{
        margin-top: 20px;
    }
}